body{
	margin:auto;
	background-color: #003299;
}


.zoneblocs{
	height: 100%;
	width: 100vw;
	align-content: space-evenly;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	margin:auto;
}


/*  <!--BLOCS  -->*/


div#bloc{
	height: clamp(10vh, 25vh, 23vh);
	width: clamp(20vw, 70vw, 70vw);
	margin:auto;
	background-color: #FFFBE0;
	border-color: black;
	border-radius: 15px;
	border: solid;
	position: relative;
}

/* BACKGROUND BLOCS*/



div.zonetxt {
	position: absolute;
	height: 100%;
	width: 100%;
}

p.txt{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 7vw;
	height: 100%;
	margin:0px;
	width: 100%;
	font-family: Roboto;
}


.zoneimg{
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 40%;
	background-image: url(https://www.ecb.europa.eu/euro/coins/comm/shared/img/comm_2019_mt_nature_dvpt.jpg);	
	background-size: auto;
	background-repeat: none;
	border-radius: 15px;
	background-position: center;
}

